body {
	background-color: black;
	color: black;
	text-align: center;
	background-color: #000515;
}

.green-target {
    position: absolute;
    height: 150px;
    width: 150px;
    background-color: #00ff0a;
    border-radius: 100%;
    bottom: 350px;
    left: 330px;
    cursor: crosshair;
}

.blue-target {
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: #00c4ff;
    border-radius: 100%;
   	bottom: 380px;
    left: 550px;
    cursor: crosshair;
}

.red-target {
    position: absolute;
    height: 50px;
    width: 50px;
    background-color: #ff0000;
    border-radius: 100%;
    bottom: 480px;
    left: 780px;
    cursor: crosshair;
}

#arena {
    position: relative;
    width: 880px;
    height: 550px;
    overflow: hidden;
    margin: 50px auto 0 auto;
    text-align: left;
    cursor: crosshair;
    border: solid black 10px;
    background-color: white;
}