@font-face {
  font-family: "SF Archery Black";
  src: url("../fonts/bullsEye.ttf"); /*Only compatable with CSS3 browsers*/
}

body {
	background-color: black;
	color: black;
	text-align: center;
	background-color: #000515;
}

.green-target {
  position: absolute;
  height: 150px;
  width: 150px;
  background-color: #00ff0a;
  border-radius: 100%;
  bottom: 350px;
  left: 330px;
  cursor: crosshair;
  -moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

.blue-target {
  position: absolute;
  height: 100px;
  width: 100px;
  background-color: #00c4ff;
  border-radius: 100%;
 	bottom: 380px;
  left: 550px;
  cursor: crosshair;
  -moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

.red-target {
  position: absolute;
  height: 50px;
  width: 50px;
  background-color: #ff0000;
  border-radius: 100%;
  bottom: 480px;
  left: 780px;
  cursor: crosshair;
  -moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

#target-arena {
  position: relative;
  width: 1000px;
  height: 550px;
  margin: 50px auto 0 auto;
  text-align: left;
  cursor: crosshair;
  overflow: hidden;
}

#arena {
  position: relative;
  width: 1000px;
  height: 685px;
  margin: 50px auto 0 auto;
  font-size: 35px;
  font-family: "SF Archery Black";
  text-align: left;
  cursor: crosshair;
  border: solid black 10px;
  background-image: url(../images/arenaBackgroundImage.jpg);
  background-size: 1000px 685px;
  background-repeat: none;
  overflow: hidden;
  display: none;
}

#score-container {
  display: inline-block;
  position: absolute;
  right: 50px;
  bottom: 2px;
	font-size: 35px;
  font-family: "SF Archery Black";
  color: black;
	width: 220px;
	height:110px;
	margin-right: 0;
  -moz-user-select: none;
  -webkit-user-select: none;
	user-select: none;
}

#score-container h2 {
	width: auto;
  font-family: "SF Archery Black";
  color: black;
	padding-right: 0;
	margin-right: 0;
  -moz-user-select: none;
  -webkit-user-select: none;
	user-select: none;
}

#life-container {
  display: inline-block;
  position: absolute;
  left: 50px;
  bottom: 2px;
  font-size: 35px;
  font-family: "SF Archery Black";
  color: black;
  width: 300px;
  height:110px;
  margin-left: 0;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

#life-container h2 {
  width: auto;
  font-family: "SF Archery Black";
  color: black;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.life {
  height: 50px;
  width: 50px;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

#life1 {
  position: absolute;
  bottom: 10px;
  left: 140px;
}

#life2 {
  position: absolute;
  bottom: 10px;
  left: 195px;
}

#life3 {
  position: absolute;
  bottom: 10px;
  left: 250px;
}

#game-over {
  width: 600px;
  height: 230px;
  font-size: 35px;
  font-family: "SF Archery Black";
  text-align: left;
  cursor: crosshair;
  border: solid black 10px;
  background-color: #E6E6E6;
  z-index: 1;
  margin: 0 auto;
  position: relative;
  bottom: 392px;
}

#game-over-header {
  padding-top: 30px;
  text-align: center;
  color: #f30000;
  margin: 0 auto;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

#scored-header {
  position: absolute;
  bottom: -2px;
  left: 40px;
  color: #026102;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

#main-menu {
  position: absolute;
  bottom: 43px;
  left: 415px;
  background-color: #ec8e01;
  border: solid black 7px;
  border-radius: 15px;
  height: 44px;
  width: 130px;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

#menu-text {
  margin: 0;
  font-size: 35px;
  font-family: "SF Archery Black";
  text-align: center;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  margin-bottom: 0px;
}

#cover {
  position: relative;
  width: 1000px;
  height: 685px;
  margin: 50px auto 0 auto;
  overflow: hidden;
  background-image: url(../images/cover-image_bullseye.png);
  background-size: 1000px 685px;
  background-repeat: none;
  display: none;
}

#instruction-screen {
  position: relative;
  width: 1000px;
  height: 685px;
  background-image: url(../images/arenaBackgroundImage.jpg);
  border: solid black 10px;
  background-size: 1000px 685px;
  background-repeat: none;
  margin: 50px auto 0 auto;
  overflow: hidden;
  cursor: crosshair;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  display: none;
}

#instruction-container {
  position: relative;
  width: 880px;
  height: 530px;
  top: 16px;
  background-color: #E6E6E6;
  border: solid black 10px;
  border-radius: 15px;
  font-family: "SF Archery Black";
  margin: 50px auto 0 auto;
  overflow: hidden;
  cursor: crosshair;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

#brief-header {

  font-family: "SF Archery Black";
  font-size: 40px;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

#brief-paragraph {

  font-family: "SF Archery Black";
  font-size: 25px;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.left {
  margin-left: 50px;
  float: left;
  width: 400px;
  display: inline-block;
}











