@font-face {
  font-family: "SF Archery Black";
  src: url("../fonts/bullsEye.ttf"); /*Only compatable with CSS3 browsers*/
}

body {
	background-color: black;
	color: black;
	text-align: center;
	background-color: #000515;
}

.green-target {
  position: absolute;
  height: 150px;
  width: 150px;
  background-color: #00ff0a;
  border-radius: 100%;
  bottom: 350px;
  left: 330px;
  cursor: crosshair;
  -moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
  user-drag: none; 
  user-select: none;
  -webkit-user-drag: none;
}

.blue-target {
  position: absolute;
  height: 100px;
  width: 100px;
  background-color: #00c4ff;
  border-radius: 100%;
 	bottom: 380px;
  left: 550px;
  cursor: crosshair;
  -moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
  user-drag: none; 
  user-select: none;
  -webkit-user-drag: none;
}

.red-target {
  position: absolute;
  height: 50px;
  width: 50px;
  background-color: #ff0000;
  border-radius: 100%;
  bottom: 480px;
  left: 780px;
  cursor: crosshair;
  -moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
  user-drag: none; 
  user-select: none;
  -webkit-user-drag: none;
}

#target-arena {
  position: relative;
  width: 1000px;
  height: 550px;
  margin: 50px auto 0 auto;
  text-align: left;
  cursor: crosshair;
  overflow: hidden;
}

#arena {
  position: relative;
  width: 1000px;
  height: 685px;
  margin: 50px auto 0 auto;
  font-size: 35px;
  font-family: "SF Archery Black";
  text-align: left;
  cursor: crosshair;
  border: solid black 10px;
  background-image: url(../images/arenaBackgroundImage.jpg);
  background-size: 1000px 685px;
  background-repeat: none;
  overflow: hidden;
  display: none;
}

#score-container {
  display: inline-block;
  position: absolute;
  right: 50px;
  bottom: 2px;
	font-size: 35px;
  font-family: "SF Archery Black";
  color: black;
	width: 220px;
	height:110px;
	margin-right: 0;
  -moz-user-select: none;
  -webkit-user-select: none;
	user-select: none;
}

#score-container h2 {
	width: 300px;
  font-family: "SF Archery Black";
  color: black;
	padding-right: 0;
	margin-right: 0;
  -moz-user-select: none;
  -webkit-user-select: none;
	user-select: none;
}

#life-container {
  display: inline-block;
  position: absolute;
  left: 50px;
  bottom: 2px;
  font-size: 35px;
  font-family: "SF Archery Black";
  color: black;
  width: 300px;
  height:110px;
  margin-left: 0;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

#life-container h2 {
  width: auto;
  font-family: "SF Archery Black";
  color: black;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.life {
  height: 50px;
  width: 50px;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

#life1 {
  position: absolute;
  bottom: 10px;
  left: 140px;
}

#life2 {
  position: absolute;
  bottom: 10px;
  left: 195px;
}

#life3 {
  position: absolute;
  bottom: 10px;
  left: 250px;
}

#game-over {
  width: 600px;
  height: 230px;
  font-size: 35px;
  font-family: "SF Archery Black";
  text-align: left;
  cursor: crosshair;
  border: solid black 10px;
  background-color: #E6E6E6;
  z-index: 1;
  margin: 0 auto;
  position: relative;
  bottom: 392px;
}

#game-over-header {
  padding-top: 30px;
  text-align: center;
  color: #f30000;
  margin: 0 auto;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

#scored-header {
  position: absolute;
  bottom: -2px;
  left: 40px;
  color: #026102;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

#main-menu {
  position: absolute;
  bottom: 43px;
  left: 415px;
  background-color: #ec8e01;
  border: solid black 7px;
  border-radius: 15px;
  height: 44px;
  width: 130px;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

#menu-text {
  margin: 0;
  font-size: 35px;
  font-family: "SF Archery Black";
  text-align: center;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  margin-bottom: 0px;
}

#cover {
  position: relative;
  width: 1000px;
  height: 685px;
  margin: 50px auto 0 auto;
  overflow: hidden;
  background-image: url(../images/cover-image_bullseye.png);
  background-size: 1000px 685px;
  background-repeat: none;
  display: none;
}

#instruction-screen {
  position: relative;
  width: 1000px;
  height: 685px;
  background-image: url(../images/arenaBackgroundImage.jpg);
  border: solid black 10px;
  background-size: 1000px 685px;
  background-repeat: none;
  margin: 50px auto 0 auto;
  overflow: hidden;
  cursor: crosshair;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  display: none;
}

#instruction-container {
  position: relative;
  width: 880px;
  height: 530px;
  top: 16px;
  background-color: #E6E6E6;
  border: solid #ec8e01 10px;
  border-radius: 15px;
  font-family: "SF Archery Black";
  margin: 50px auto 0 auto;
  overflow: hidden;
  cursor: crosshair;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

#brief-header {
  font-family: "SF Archery Black";
  font-size: 40px;
  margin-bottom: -5px;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

#brief-paragraph {
  font-family: "SF Archery Black";
  font-size: 25px;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.left {
  margin-left: 40px;
  float: left;
  width: 360px;
  display: inline-block;
}

#how-to-play-header {
  font-family: "SF Archery Black";
  font-size: 40px;
  margin-bottom: -5px;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

#how-to-play-paragraph {
  font-family: "SF Archery Black";
  font-size: 25px;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.right {
  margin-right: 40px;
  float: right;
  width: 360px;
  display: inline-block;
}

.bottom {
  position: absolute;
  bottom: 30px;
  right: 135px;
  width: 800px;
  display: inline-block;
}

.demo-target {
  width: 200px;
  display: inline-block;
  user-drag: none; 
  user-select: none;
  -webkit-user-drag: none;
}

.target-instructions {
  height: 120px;
  width: 120px;
  border-radius: 100%;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

#green-target-instructions {
  background-color: #00ff0a;
}

#blue-target-instructions {
  background-color: #00c4ff;
}

#red-target-instructions {
  background-color: #ff0000;
}

.instruction-points {
  margin: 0;
  margin-bottom: 10px;
  font-family: "SF Archery Black";
  font-size: 25px;
  text-align: center;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

#play {
  position: absolute;
  bottom: 60px;
  right: 40px;
  background-color: #ec8e01;
  border: solid black 7px;
  border-radius: 15px;
  height: 44px;
  width: 130px;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

#play-text {
  margin: 0;
  font-size: 35px;
  font-family: "SF Archery Black";
  text-align: center;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  margin-bottom: 0px; 
}

#gun-image {
  position: absolute;
  width: 130px;
  height: 120px;
  bottom: 45px;
  left: 438px;
  transform-origin: 50% bottom;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

#circle {
  background-color: #4e3622;
  position: absolute;
  left: 482px;
  bottom: 11px;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

#game-modes-screen {
  position: relative;
  width: 1000px;
  height: 685px;
  background-image: url(../images/arenaBackgroundImage.jpg);
  border: solid black 10px;
  background-size: 1000px 685px;
  background-repeat: none;
  margin: 50px auto 0 auto;
  overflow: hidden;
  cursor: crosshair;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  display: none;
}

#game-modes {
  position: relative;
  width: 880px;
  height: 410px;
  background-color: #E6E6E6;
  border: solid #ec8e01 10px;
  border-radius: 15px;
  font-family: "SF Archery Black";
  margin: 127.5px auto 0 auto;
  overflow: hidden;
  cursor: crosshair;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

#mode1 {
  background-color: #ec8e01;
  border: solid black 7px;
  border-radius: 15px;
  height: 44px;
  width: 130px;
  margin: 0;
  font-size: 35px;
  font-family: "SF Archery Black";
  text-align: center;
  margin-bottom: 0px; 
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  display: inline-block;
}

#mode2 {
  background-color: #ec8e01;
  border: solid black 7px;
  border-radius: 15px;
  height: 44px;
  width: 130px;
  margin: 0;
  font-size: 35px;
  font-family: "SF Archery Black";
  text-align: center;
  margin-bottom: 0px; 
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  display: inline-block;
}

#mode3 {
  background-color: #ec8e01;
  border: solid black 7px;
  border-radius: 15px;
  height: 44px;
  width: 130px;
  margin: 0;
  font-size: 35px;
  font-family: "SF Archery Black";
  text-align: center;
  margin-bottom: 0px; 
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  display: inline-block;
}

#mode4 {
  background-color: #ec8e01;
  border: solid black 7px;
  border-radius: 15px;
  height: 44px;
  width: 130px;
  margin: 0;
  font-size: 35px;
  font-family: "SF Archery Black";
  text-align: center;
  margin-bottom: 0px; 
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  display: inline-block;
}

#mode5 {
  background-color: #ec8e01;
  border: solid black 7px;
  border-radius: 15px;
  height: 44px;
  width: 130px;
  margin-top: 50px;
  font-size: 35px;
  font-family: "SF Archery Black";
  text-align: center;
  margin-bottom: 0px;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  display: inline-block;
}

#mode6 {
  background-color: #ec8e01;
  border: solid black 7px;
  border-radius: 15px;
  height: 44px;
  width: 130px;
  margin: 0;
  font-size: 35px;
  font-family: "SF Archery Black";
  text-align: center;
  margin-bottom: 0px; 
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  display: inline-block;
}

#mode7 {
  background-color: #ec8e01;
  border: solid black 7px;
  border-radius: 15px;
  height: 44px;
  width: 130px;
  margin: 0;
  font-size: 35px;
  font-family: "SF Archery Black";
  text-align: center;
  margin-bottom: 0px; 
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  display: inline-block;
}

#mode-header {
  font-family: "SF Archery Black";
  font-size: 40px;
  margin-bottom: -5px;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

#group-modes {
  margin-top: 90px;
  width: 620px;
  display: inline-block;
}

@keyframes jelly {
  11.1% {
    transform: none
  }
  22.2% {
    transform: skewX(-12.5deg) skewY(-12.5deg)
  }
  33.3% {
    transform: skewX(6.25deg) skewY(6.25deg)
  }
  44.4% {
    transform: skewX(-3.125deg) skewY(-3.125deg)
  }
  55.5% {
    transform: skewX(1.5625deg) skewY(1.5625deg)
  }
  66.6% {
    transform: skewX(-0.78125deg) skewY(-0.78125deg)
  }
  77.7% {
    transform: skewX(0.390625deg) skewY(0.390625deg)
  }
  88.8% {
    transform: skewX(-0.1953125deg) skewY(-0.1953125deg)
  }
  100% {
    transform: none
  }
}

.jelly {
  animation: jelly 1s infinite;
  transform-origin: center
}